<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd">


	<!-- Spring的注解开发:组件扫描(类上注解: 可以直接使用属性注入的注解) -->
	<context:component-scan base-package="aopxml" />


	<bean id="orderDao" class="aopxml.OrderDaoImpl"></bean>
	<!-- 配置切面类 -->
	<bean id="myAspectXml" class="aopxml.MyAspectXml"></bean>

	<!-- 进行aop的配置  配置aop包要齐全-->
	<aop:config>   <!-- 配置切入点表达式:哪些类的哪些方法需要进行增强 -->
		<aop:pointcut
			expression="execution(* aopxml.*.*(..))" id="pointcut1" />   <!-- 配置切面 -->
		<aop:aspect ref="myAspectXml">
			<aop:before method="before" pointcut-ref="pointcut1" />
		</aop:aspect>
	</aop:config>

</beans>


